# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.db
*.ipch
*.opendb
.vs/Algorithm/v16/.suo
*.in
*.sln
*.vcxproj
*.filters
*.user
*.ilk
*.log
*.pdb
*.lastbuildstate
*.tlog
*.iobj
*.ipdb
Algorithm/
